<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>YouTube Comment Summarizer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>
	<header>
		<h1>YouTube Comment Summarizer</h1>
	</header>

	<div class="form-container">
		<form class="form">
			<input type="text" id="query" name="query" placeholder="Paste the YouTube link here..." required>
		</form>
		<button type="submit" class="start-button">Start</button>
	</div>
	
	<div class="tabs">
		<input class="input" name="tabs" type="radio" id="tab-1" checked="checked"/>
		<label class="label" for="tab-1">Summarizer</label>
		<div class="panel">
			<h2>Summarizer</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur fugiat dolores harum totam nulla distinctio velit tempore laboriosam molestias. Minima ut tempora nisi deserunt nobis distinctio quasi nihil inventore ipsa.</p>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequuntur provident harum debitis in unde, accusamus illo minima repellat quas voluptas cum incidunt, laborum quia deleniti explicabo ut hic. Pariatur.</p>
		</div>
		<input class="input" name="tabs" type="radio" id="tab-2"/>
		<label class="label" for="tab-2">Sentiment Analysis</label>
		<div class="panel">
			<h2>Sentiment Analysis</h2>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi cupiditate dolore dicta laborum? Delectus, amet optio repellat et error ea sapiente neque magnam provident rerum quod tenetur fuga necessitatibus corporis.</p>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo ut, temporibus nam quam, at fugiat quasi animi quae aliquam nesciunt, accusantium omnis illo pariatur. Iste officiis impedit dolorem! Voluptatem, nesciunt.</p>
		</div>
		<input class="input" name="tabs" type="radio" id="tab-3"/>
		<label class="label" for="tab-3">Ask For More</label>
		<div class="panel">
			<h2>Ask For More</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet molestiae assumenda vitae ipsa laboriosam maxime corrupti! Aliquam eveniet, reprehenderit fugit veritatis labore quod! Vitae aliquid, eaque neque rerum eveniet consequatur!</p>
		</div>
	</div>
</body>
</html>
